.app {
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: var(--vertical-gap);
  max-width: 60rem;
}


.toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--horizontal-gap);
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--vertical-gap);
}

.constraint {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.constraint div {
  height: 2.5rem;
  padding: auto;
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr;
}

.buttons {
  display: flex;
  gap: var(--horizontal-gap);
  margin: 0 auto;
  width: fit-content;
}

.output {
  text-align: center;
}
