:root {
  --base-font-size: 13px;
  --base-line-height: 1.19;
  --ui-border-width: 2px;
  --ui-border-radius: 4px;
  --button-border-radius: 24px;
  --panel-border-width: 3px 1px 3px 1px;
  --panel-border-style: solid;
  --panel-border-radius: 6px;
  box-sizing: border-box;
  --vertical-gap: 1rem;
  --horizontal-gap: 1rem;

  transition: background-color 0.1s, color 0.1s, border-color 0.1s, box-shadow 0.1s;

  font-family: SerifBodyFont, serif;
}

::selection {
  background-color: var(--selection-background);
}

::selection:not(:focus) {
  background-color: var(--dim-selection-background);
}

body {
  background-color: var(--page-background);
  background-image: url("testpattern1.png");
  color: var(--primary-foreground);
  padding: 0;
  line-height: var(--base-line-height);
  font-size: var(--base-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--base-font-size);
  font-weight: bold;
  color: var(--dim-foreground);
}

h1,
h2,
h3 {
  margin: var(--base-font-size) 0 var(--base-font-size) 0;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  color: var(--chrome-foreground);
}

.caption h1,
.caption h2,
.caption h3 {
  color: var(--caption-foreground);
  margin: 0;
}

p {
  margin: 0 0 1rem 0;
}

hr {
  border: none;
  border-top: var(--ui-border-width) solid var(--dim-foreground);
  margin: 2rem auto;
  width: 40%;
}

a {
  color: var(--link);
  text-decoration: 1.5px underline;
  font-weight: 700;
  border-radius: var(--ui-border-radius);
}

a:hover {
  color: var(--link-hover);
  background-color: var(--card-background-transparent);
}

a:active {
  color: var(--link-active);
  background-color: var(--card-background-transparent);
}

a:disabled {
  color: var(--link-disabled);
}

a:focus-visible {
  color: var(--hover-link);
  background-color: var(--card-background-transparent);
  box-shadow: 0px 0px 8px var(--hover-link);
  outline: solid var(--ui-border-width) var(--hover-link);
}

.accent-link {
  color: var(--accent-control-link);
}

.accent-link:hover {
  color: var(--accent-hover-link);
}

.accent-link:active {
  color: var(--accent-active-link);
}

.accent-link:disabled {
  color: var(--accent-disabled-link);
}

.panel {
  background-color: var(--content-background-transparent);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  color: var(--primary-foreground);
  border-color: var(--chrome);
  border-style: var(--panel-border-style);
  border-width: var(--panel-border-width);
  border-radius: var(--panel-border-radius);
  padding: 1rem;
  background-clip: border-box;
  overflow: clip;
  box-shadow: 0px 0px 8px var(--chrome-shadow);
}

.card {
  background-color: var(--card-background-transparent);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  color: var(--primary-foreground);
  border-color: var(--chrome);
  border-style: solid;
  border-width: var(--panel-border-width);
  border-radius: var(--panel-border-radius);
  padding: 1rem;
  margin: 1rem 0;
  background-clip: border-box;
  overflow: clip;
  box-shadow: 0px 0px 16px var(--chrome-shadow);
}

.card>.caption,
.panel>.caption {
  background-color: var(--chrome);
  color: var(--caption-foreground);
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
  background-clip: border-box;
  overflow: clip;
}

.card.ok {
  background-color: var(--ok-background-transparent);
  border-color: var(--ok-foreground);
  box-shadow: 0px 0px 16px var(--ok-shadow);
}

.card.ok>.caption {
  background-color: var(--ok-foreground);
}

.card.warning {
  background-color: var(--warning-background-transparent);
  border-color: var(--warning-foreground);
  box-shadow: 0px 0px 16px var(--warning-shadow);
}

.card.warning>.caption {
  background-color: var(--warning-foreground);
}

.card.error {
  background-color: var(--error-background-transparent);
  border-color: var(--error-foreground);
  box-shadow: 0px 0px 16px var(--error-shadow);
}

.card.error>.caption {
  background-color: var(--error-foreground);
}

blockquote {
  background: var(--card-background-transparent);
  border-left: 2px solid var(--dim-foreground);
  border-right: 2px solid var(--dim-foreground);
  border-radius: var(--ui-border-radius);
  padding: 0.5rem 1rem;
  margin: 1rem 4rem;
  font-style: italic;
}

footer {
  font-style: normal;
  color: var(--dim-foreground);
}

pre {
  background-color: var(--card-background-transparent);
  color: var(--primary-foreground);
  border-color: var(--dim-foreground) var(--dim-foreground) var(--dim-foreground) var(--chrome);
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  padding: 0.5rem 1rem;
  overflow: auto;
}

table {
  border-collapse: collapse;
  margin: 1rem auto;
}

td {
  padding: 0 calc(var(--horizontal-gap) * 0.5);
  min-width: 6rem;
}

th {
  padding: 0 calc(var(--horizontal-gap) * 0.5);
  min-width: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 1px solid var(--dim-foreground);
}

tr {
  height: 1.5rem;
}

table.banded-rows {
  border: 1px solid var(--dim-foreground);
  background: var(--content-background);
}

table.banded-rows tr:nth-child(even) {
  background-color: var(--card-background);
}

table.banded-rows tr:not(:first-child):hover {
  border-color: var(--dim-foreground);
  border-width: 1px 0;
  border-style: dashed none;
  border-spacing: 1px;
}

table.banded-rows th {
  background: var(--dim-foreground);
  color: var(--page-background);
}

button {
  padding: 0.25rem 1.5rem;
  font-size: var(--base-font-size);
  font-family: inherit;
  border-radius: var(--button-border-radius);
  background-color: var(--control-background);
  color: var(--control-foreground);
  border: var(--control-foreground) solid var(--ui-border-width);
  transform-origin: center;
  transition-property: transform, background-color, color, border-color;
  transition: 100ms ease-in-out;
  transform: scale(1.0);
}

button:hover {
  background-color: var(--control-hover-background);
  color: var(--control-hover-foreground);
  border-color: var(--control-hover-foreground);
  transform: scale(1.02);
}

button:active {
  background-color: var(--control-active-background);
  color: var(--control-active-foreground);
  border-color: var(--control-active-foreground);
  transform: scale(0.98);
}

button:disabled {
  background-color: var(--control-disabled-background);
  color: var(--control-disabled-foreground);
  border-color: var(--control-disabled-foreground);
  transform: scale(1.0);
}

button:focus-visible {
  background-color: var(--control-hover-background);
  color: var(--control-hover-foreground);
  border-color: var(--control-hover-foreground);
  box-shadow: 0px 0px 16px var(--control-hover-foreground);
  outline: solid var(--ui-border-width) var(--control-hover-foreground);
  outline-offset: var(--ui-border-width);
  transform: scale(1.02);
}

.secondary-button {
  background-color: var(--secondary-control-background);
  color: var(--secondary-control-foreground);
  border-color: var(--secondary-control-foreground);
}

.secondary-button:hover {
  background-color: var(--secondary-control-hover-background);
  color: var(--secondary-control-hover-foreground);
  border-color: var(--secondary-control-hover-foreground);
}

.secondary-button:active {
  background-color: var(--secondary-control-active-background);
  color: var(--secondary-control-active-foreground);
  border-color: var(--secondary-control-active-foreground);
}

.secondary-button:disabled {
  background-color: var(--secondary-control-disabled-background);
  color: var(--secondary-control-disabled-foreground);
  border-color: var(--secondary-control-disabled-foreground);
}

.secondary-button:focus-visible {
  background-color: var(--secondary-control-hover-background);
  color: var(--secondary-control-hover-foreground);
  border-color: var(--secondary-control-hover-foreground);
  box-shadow: 0px 0px 16px var(--secondary-control-control-foreground);
  outline-color: var(--secondary-control-control-foreground);
}

.ok-button {
  background-color: var(--ok-control-background);
  color: var(--ok-control-foreground);
  border-color: var(--ok-control-foreground);
}

.ok-button:hover {
  background-color: var(--ok-control-hover-background);
  color: var(--ok-control-hover-foreground);
  border-color: var(--ok-control-hover-foreground);
}

.ok-button:active {
  background-color: var(--ok-control-active-background);
  color: var(--ok-control-active-foreground);
  border-color: var(--ok-control-active-foreground);
}

.ok-button:disabled {
  background-color: var(--ok-control-disabled-background);
  color: var(--ok-control-disabled-foreground);
  border-color: var(--ok-control-disabled-foreground);
}

.ok-button:focus-visible {
  background-color: var(--ok-control-hover-background);
  color: var(--ok-control-hover-foreground);
  border-color: var(--ok-control-hover-foreground);
  box-shadow: 0px 0px 16px var(--ok-control-control-foreground);
  outline-color: var(--ok-control-control-foreground);
}

.danger-button {
  background-color: var(--danger-control-background);
  color: var(--danger-control-foreground);
  border-color: var(--danger-control-foreground);
}

.danger-button:hover {
  background-color: var(--danger-control-hover-background);
  color: var(--danger-control-hover-foreground);
  border-color: var(--danger-control-hover-foreground);
}

.danger-button:active {
  background-color: var(--danger-control-active-background);
  color: var(--danger-control-active-foreground);
  border-color: var(--danger-control-active-foreground);
}

.danger-button:disabled {
  background-color: var(--danger-control-disabled-background);
  color: var(--danger-control-disabled-foreground);
  border-color: var(--danger-control-disabled-foreground);
}

.danger-button:focus-visible {
  background-color: var(--danger-control-hover-background);
  color: var(--danger-control-hover-foreground);
  border-color: var(--danger-control-hover-foreground);
  box-shadow: 0px 0px 16px var(--danger-control-hover-foreground);
  outline-color: var(--danger-control-hover-foreground);
}

.caution-button {
  background-color: var(--caution-control-background);
  color: var(--caution-control-foreground);
  border-color: var(--caution-control-foreground);
}

.caution-button:hover {
  background-color: var(--caution-control-hover-background);
  color: var(--caution-control-hover-foreground);
  border-color: var(--caution-control-hover-foreground);
}

.caution-button:active {
  background-color: var(--caution-control-active-background);
  color: var(--caution-control-active-foreground);
  border-color: var(--caution-control-active-foreground);
}

.caution-button:disabled {
  background-color: var(--caution-control-disabled-background);
  color: var(--caution-control-disabled-foreground);
  border-color: var(--caution-control-disabled-foreground);
}

.caution-button:focus-visible {
  background-color: var(--caution-control-hover-background);
  color: var(--caution-control-hover-foreground);
  border-color: var(--caution-control-hover-foreground);
  box-shadow: 0px 0px 16px var(--caution-control-hover-foreground);
  outline: solid var(--ui-border-width) var(--caution-control-hover-foreground);
}

.dialog-buttons {
  display: flex;
  justify-content: right;
  margin-left: auto;
}

::file-selector-button {
  margin-right: 1em;
}

input[type=checkbox] {
  appearance: none;
  font: inherit;
}

input[type=checkbox]+label::before {
  content: "\A0\A0";
  border: var(--control-foreground) solid var(--ui-border-width);
  background-color: var(--control-background);
  color: var(--control-foreground);
  display: inline-block;
  font-size: var(--base-font-size);
  border-radius: var(--ui-border-radius);
  margin-right: 1em;
}

input[type=checkbox]:hover+label::before,
input[type=checkbox]:focus-visible+label::before {
  background-color: var(--control-hover-background);
  border-color: var(--control-hover-foreground);
  color: var(--control-hover-foreground);
}

input[type=checkbox]:active+label::before {
  background-color: var(--control-active-background);
  border-color: var(--control-active-foreground);
  color: var(--control-active-foreground);
}

input[type=checkbox]:checked+label::before {
  background-color: var(--control-foreground);
  color: var(--control-background);
  content: "\2714";
}

input[type=checkbox]:hover:checked+label::before,
input[type=checkbox]:focus-visible:checked+label::before {
  background-color: var(--control-hover-foreground);
  border-color: var(--control-hover-foreground);
  color: var(--control-hover-background);
}

input[type=checkbox]:active:checked+label::before {
  background-color: var(--control-active-foreground);
  border-color: var(--control-active-foreground);
  color: var(--control-active-background);
}


input[type=checkbox]:disabled+label::before {
  border-color: var(--control-disabled-foreground);
  background-color: var(--control-disabled-background);
  color: var(--control-disabled-foreground);
}

input[type=checkbox].toggle-switch+label::before {
  content: "\25CF\A0\A0";
  border-color: var(--control-foreground);
  color: var(--control-foreground);
  background-color: var(--control-background);
  display: inline-block;
  font-size: var(--base-font-size);
  margin-right: 1em;
  border-radius: 1em;
  font-weight: normal;
}

input[type=checkbox].toggle-switch:hover+label::before,
input[type=checkbox].toggle-switch:focus-visible+label::before {
  border: var(--control-hover-foreground) solid var(--ui-border-width);
  color: var(--control-hover-foreground);
  background-color: var(--control-hover-background);
}

input[type=checkbox].toggle-switch:active:enabled+label::before {
  content: "\A0\25CF\A0";
  border-color: var(--control-active-foreground);
  background-color: var(--control-active-background);
  color: var(--control-active-foreground);
}

input[type=checkbox].toggle-switch:checked+label::before {
  content: "\A0\A0\25CF";
  color: var(--control-background);
  background-color: var(--control-foreground);
}

input[type=checkbox].toggle-switch:checked:hover+label::before,
input[type=checkbox].toggle-switch:checked:focus-visible+label::before {
  color: var(--control-hover-background);
  background-color: var(--control-hover-foreground);
}

input[type=checkbox].toggle-switch:checked:active:enabled+label::before {
  content: "\A0\25CF\A0";
  border-color: var(--control-active-foreground);
  background-color: var(--control-active-foreground);
  color: var(--control-active-background);
}

input[type=checkbox].toggle-switch:disabled+label::before {
  border-color: var(--control-disabled-foreground);
  background-color: var(--control-disabled-background);
  color: var(--control-disabled-foreground);
}

input[type=checkbox].toggle-switch:checked:disabled+label::before {
  border-color: var(--control-disabled-background);
  background-color: var(--control-disabled-foreground);
  color: var(--control-disabled-background);
}

input[type=radio] {
  appearance: none;
  font: inherit;
}

input[type=radio]+label::before {
  content: "\A0\A0";
  border: var(--control-foreground) solid var(--ui-border-width);
  background-color: var(--control-background);
  color: var(--control-foreground);
  display: inline-block;
  font-size: var(--base-font-size);
  margin-right: 1em;
  border-radius: 50%;
}

input[type=radio]:hover:enabled+label::before,
input[type=radio]:focus-visible:enabled+label::before {
  border: var(--control-hover-foreground) solid var(--ui-border-width);
  background-color: var(--control-hover-background);
  color: var(--control-hover-foreground);
}

input[type=radio]:active:enabled+label::before {
  border: var(--control-active-foreground) solid var(--ui-border-width);
  background-color: var(--control-active-background);
  color: var(--control-active-foreground);
}

input[type=radio]:checked+label::before {
  content: "\25CF";
}

input[type=radio]:disabled+label::before {
  border: var(--control-disabled-foreground) solid var(--ui-border-width);
  background-color: var(--control-disabled-background);
  color: var(--control-disabled-foreground);
}

input[type=radio]:hover+label,
input[type=checkbox]:hover+label {
  color: var(--label);
  display: inline-block;
}

input[type=radio]:hover+label,
input[type=checkbox]:hover+label {
  color: var(--label-hover);
}

input[type=radio]:active+label,
input[type=checkbox]:active+label {
  color: var(--label-active);
}

input[type=radio]:disabled+label,
input[type=checkbox]:disabled+label {
  color: var(--label-disabled);
}

input[type=radio]:focus-visible+label,
input[type=checkbox]:focus-visible+label {
  color: var(--label-hover);
  outline: solid var(--ui-border-width) var(--control-hover-foreground);
  outline-offset: var(--ui-border-width);
  border-radius: var(--ui-border-radius);
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
textarea {
  font: inherit;
  color: var(--primary-foreground);
  border-color: var(--input-border);
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  padding: 0.5em 0.5em calc(0.5em - 1px) 0.5em;
  background-color: var(--input-background);
  border-radius: 4px;
  margin: 0;
}

input[type=text]:hover:enabled,
input[type=email]:hover:enabled,
input[type=password]:hover:enabled,
input[type=tel]:hover:enabled,
input[type=number]:hover:enabled,
textarea:hover:enabled {
  border-color: var(--input-hover-border);
  border-bottom-width: 3px;
  padding-bottom: calc(0.5em - 2px);
  background-color: var(--input-hover-background);
}

input[type=text]:focus:enabled,
input[type=email]:focus:enabled,
input[type=password]:focus:enabled,
input[type=tel]:focus:enabled,
input[type=number]:focus:enabled,
textarea:focus:enabled,
input[type=text]:active:enabled,
input[type=email]:active:enabled,
input[type=password]:active:enabled,
input[type=tel]:active:enabled,
input[type=number]:active:enabled,
textarea:active:enabled {
  border-color: var(--input-active-border);
  border-bottom-width: 4px;
  padding-bottom: calc(0.5em - 3px);
  background-color: var(--input-active-background);
  outline: none;
}

input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
input[type=tel]:disabled,
input[type=number]:disabled,
textarea:disabled {
  border-color: var(--control-disabled-foreground);
  background-color: var(--control-disabled-background);
  color: var(--control-disabled-foreground);
}

textarea {
  resize: none;
  height: calc(var(--base-font-size) * var(--base-line-height) * 4 + 1em + 5px);
}

textarea::-webkit-resizer {
  display: none;
}


select {
  padding: 0.25rem 0.25rem;
  min-width: 8rem;
  font-size: var(--base-font-size);
  font-family: inherit;
  border-radius: var(--ui-border-radius);
  background-color: var(--control-background);
  color: var(--control-foreground);
  border: var(--control-foreground) solid var(--ui-border-width);
  transition-property: background-color, color, border-color;
  transition: var(--ui-transition-time) ease-in-out;
}

select:hover {
  background-color: var(--control-hover-background);
  color: var(--control-hover-foreground);
  border-color: var(--control-hover-foreground);
}

select:active {
  background-color: var(--control-active-background);
  color: var(--control-active-foreground);
  border-color: var(--control-active-foreground);
}

select:disabled {
  background-color: var(--control-disabled-background);
  color: var(--control-disabled-foreground);
  border-color: var(--control-disabled-foreground);
}

select:focus-visible:not(:active) {
  background-color: var(--control-hover-background);
  color: var(--control-hover-foreground);
  border-color: var(--control-hover-foreground);
  box-shadow: 0px 0px 16px var(--control-hover-foreground);
  outline: solid var(--ui-border-width) var(--control-hover-foreground);
  outline-offset: var(--ui-border-width);
}

select.secondary {
  background-color: var(--secondary-control-background);
  color: var(--secondary-control-foreground);
  border-color: var(--secondary-control-foreground);
}

select.secondary:hover {
  background-color: var(--secondary-control-hover-background);
  color: var(--secondary-control-hover-foreground);
  border-color: var(--secondary-control-hover-foreground);
}

select.secondary:active {
  background-color: var(--secondary-control-active-background);
  color: var(--secondary-control-active-foreground);
  border-color: var(--secondary-control-active-foreground);
}

select.secondary:disabled {
  background-color: var(--secondary-control-disabled-background);
  color: var(--secondary-control-disabled-foreground);
  border-color: var(--secondary-control-disabled-foreground);
}

select.secondary:focus-visible:not(:active) {
  background-color: var(--secondary-control-hover-background);
  color: var(--secondary-control-hover-foreground);
  border-color: var(--secondary-control-hover-foreground);
  box-shadow: 0px 0px 16px var(--secondary-control-control-foreground);
  outline-color: var(--secondary-control-control-foreground);
}

.buttons-container {
  display: flex;
  justify-content: right;
  margin: var(--vertical-gap) 0;
}

.buttons-container button {
  margin-left: var(--horizontal-gap);
  min-width: 8em;
  max-width: 12em;
  flex-grow: 1;
}

::placeholder {
  color: var(--input-border);
  font-style: italic;
}

input[type=file] {
  font-family: inherit;
  font-size: var(--base-font-size);
}

#menu-button {
  background-color: var(--control-background);
  color: var(--control-foreground);
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  width: 4em;
  font-family: inherit;
  border-radius: 0 7px 7px 0;
  font-weight: bold;
}

#menu-button:hover {
  color: var(--control-hover-foreground);
  background-color: var(--control-hover-background);
}

#menu-button:active {
  color: var(--control-active-foreground);
  background-color: var(--control-active-background);
}

::-webkit-scrollbar {
  width: var(--horizontal-gap);
  background: var(--content-background);
}

::-webkit-scrollbar-corner {
  background: var(--content-background);
}

::-webkit-scrollbar-thumb {
  background: var(--control-background);
  border: solid 2px var(--content-background);
  border-radius: var(--panel-border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--control-hover-background);
}

::-webkit-scrollbar-thumb:active {
  background: var(--control-active-background);
}

::-webkit-scrollbar-thumb:disabled {
  background: var(--control-disabled-background);
}

.accent-1 {
  color: var(--base-color-1-low-foreground) !important;
  font-weight: bold;
}

.accent-2 {
  color: var(--base-color-2-low-foreground) !important;
  font-weight: bold;
}

.accent-3 {
  color: var(--base-color-3-low-foreground) !important;
  font-weight: bold;
}

.accent-4 {
  color: var(--base-color-4-low-foreground) !important;
  font-weight: bold;
}

.accent-5 {
  color: var(--base-color-5-low-foreground) !important;
  font-weight: bold;
}

.accent-6 {
  color: var(--base-color-6-low-foreground) !important;
  font-weight: bold;
}

.red {
  color: var(--red-foreground) !important;
}

.green {
  color: var(--green-foreground) !important;
}

.blue {
  color: var(--blue-foreground) !important;
}

.cyan {
  color: var(--cyan-foreground) !important;
}

.purple {
  color: var(--purple-foreground) !important;
}

.yellow {
  color: var(--yellow-foreground) !important;
}

.red-background {
  background-color: var(--red-background);
}

.green-background {
  background-color: var(--green-background);
}

.blue-background {
  background-color: var(--blue-background);
}

.cyan-background {
  background-color: var(--cyan-background);
}

.purple-background {
  background-color: var(--purple-background);
}

.yellow-background {
  background-color: var(--yellow-background);
}
