@use "jonui/scss/main.scss";
@use "jonui/scss/globals.scss";
@use "jonui/scss/themes/arcane-dusk.scss";
@use "jonui/scss/themes/arcane-dawn.scss";
@use "jonui/scss/themes/high-contrast-dark.scss";
@use "jonui/scss/themes/high-contrast-light.scss";
@use "jonui/scss/themes/system.scss";

:root {
  font-family: IosevkaArcane, monospace;
  -webkit-user-select: none;
  user-select: none;

  @include arcane-dusk.theme;
  overflow: clip;
}

@media (prefers-color-scheme: light) and (prefers-contrast: no-preference) and (forced-colors: none) {
  :root {
    @include arcane-dawn.theme;
  }
}

@media (prefers-contrast: more) and (forced-colors: none) {
  :root {
    @include high-contrast-dark.theme;
  }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) and (forced-colors: none) {
  :root {
    @include high-contrast-light.theme;
  }
}

@media (forced-colors: active) {
  :root {
    @include high-contrast-dark.theme;
  }
}

body {
  padding: var(--vertical-gap) var(--horizontal-gap);
  margin: 0;
  width: 100%;
}

.app {
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 2fr;
  row-gap: var(--vertical-gap);
  column-gap: var(--horizontal-gap);
  width: 100%;
  height: calc(100% - 3 * var(--vertical-gap));
}

@media (min-width: globals.$wide-breakpoint) {
  .app {
    max-width: 80%;
  }
}

.toolbar {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.output {
  text-align: center;
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-gap);

    div {
      min-height: 1.19rem;
    }
  }
}

.controls {
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
  max-height: 100%;

  .caption {
    width: 100%;
    padding: calc(2*var(--vertical-gap)) var(--horizontal-gap);
  }
}

@media (max-width: globals.$narrow-breakpoint) {
  :root {
    overflow: auto;
  }

  .app {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    max-width: 60rem;
    height: auto;
  }

  .toolbar {
    grid-row: 1;
    grid-column: 1;
  }

  .output {
    grid-row: 2;
    grid-column: 1;
  }

  .controls {
    grid-row: 3;
    grid-column: 1;
    height: auto;
    max-height: auto;
  }
}

.toolbar-controls {
  display: flex;
  flex-direction: row;
  gap: var(--horizontal-gap);
  align-items: center;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.constraint {
  width: 100%;
  max-width: 40rem;
  padding: var(--vertical-gap) var(--horizontal-gap);

  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: var(--horizontal-gap);
}

.constraint div {
  height: 2.5rem;
  padding: auto;
  align-items: center;
  display: grid;
  grid-template-rows: auto 1fr;
}

.buttons {
  display: flex;
  gap: var(--horizontal-gap);
  margin: 0 auto;
  width: fit-content;
}

.name {
  -webkit-user-select: text;
  user-select: text;
}
